@media (prefers-color-scheme: dark) {
	:root {
		--text-red: #b66;
		--text-green: #6b6;
		--text-blue: #77c;

		--background: #222226;
		--background-highlight: #333338;
		--text-secondary: #666;
		--text-primary: #ddd;
		--text-grey: #999;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text-red: #b55;
		--text-green: #393;
		--text-blue: #66b;

		--background: #fff;
		--background-highlight: #eee;
		--text-secondary: #999;
		--text-primary: #333;
		--text-grey: #666;
	}
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: var(--background);
	color: var(--text-primary);
	margin: -1px 0 0 0;
	padding: 1px 0 0 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h1 {
	color: var(--text-secondary);
	font-size: 1.5rem;
	margin: 2rem 0 0 0;
}

h2 {
	margin: 0 0 1rem 0;
	font-size: 2rem;
}

a {
	color: var(--text-blue);
	text-decoration: none;
}

a:visited {
	color: var(--text-blue);
}

a:hover, a:focus {
	outline: none;
	text-decoration: underline;
}
